@font-face {
    font-family: "Ubuntu";
    src: url("../font/Ubuntu-R.ttf");
}

body {
    font-family: "Ubuntu", serif;
}

.onglet {
    font-size: 15pt;
}

.navigation {
    display: block;
    margin: 0;
}

.bouton-connexion {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
  }
  
.bouton-connexion:hover {
    background-color: #238c3b;
    border-color: #238c3b;
}